<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://servicebustest2023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e80ac0f8-2674-4e97-b579-3673b5ef5868/resourceGroups/ServiceBusTest2023_group/providers/Microsoft.Web/sites/ServiceBusTest2023</ResourceId>
    <UserName>$ServiceBusTest2023</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://servicebustest2023.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>